.contact-form {
    margin-top: 20px;
  }
  
  .contact-form-label {
    color: #982878;
  }
  
  .contact-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .contact-form-textarea {
    width: 100%;
    padding: 10px;
    height: 150px;
    margin-bottom: 20px;
  }
  
  .contact-form-message {
    color: #b361ca;
    margin-top: 10px;
  }
  
  .contact-form-submit {
    background-color: #b745c9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .contact-form-submit:hover {
    background-color: #000000;
  }
  