.container {
    margin-top: 20px;
  }
  
  .p-5 {
    padding: 2rem !important;
  }
  
  .p-md-5 {
    padding: 1rem !important;
  }
  
  .text-center {
    text-align: center;
  }
  
  .shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .bg-light {
    background-color: #e0b6e0;
  }
  
  .mb-5 {
    margin-bottom: 3rem !important;
  }
  
  .p-4 {
    padding: 1rem !important;
  }
  
  .pt-sm-4 {
    padding-top: 1rem !important;
  }
  
  .pt-lg-0 {
    padding-top: 0 !important;
  }
  
  .pr-3 {
    padding-right: 0.75rem;
  }
  
  h1 {
    color: #f043ab;
    font-size: 2.5rem;
  }
  
  h4 {
    color: #05050b;
    font-size: 1.5rem;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    color: #0f0e0e;
  }
  
  .form-message {
    color: #f043bf;
    margin-top: 10px;
  }
  
  .btn {
    background-color: #d460bf;
    border-color: #0b0301;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #e64b32;
    border-color: #e64b32;
  }
  