.footer {
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: center;
}

.footer a {
  margin: 5px;
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  color: #007bff;
}

.social {
  display: inline-block;
}

.resume {
  display: inline-block;
  margin-top: 10px;
}
