  
  .Resume {
    display: inline-block;
    background-color: #823c8d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .Resume:hover {
    background-color: #6d297d;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
  }
  

  